<h4 class="cor-azul">Login</h4>
<hr/>
  <form (ngSubmit)="login()" #loginForm="ngForm"  id="loginForm">
    <div class="form-group">
      <label>Login: </label>
      <input type="text" class="form-control"
             required [(ngModel)]="model.username" id="username"
             name="username"
             #username="ngModel"
             placeholder="Digite seu login"/>
      <br/>
      <label>Senha: </label>
      <input type="password" class="form-control"
             required [(ngModel)]="model.password" id="password"
             name="password"
             #password="ngModel"
             placeholder="Digite sua senha"/>
      <br/><br/>
      <div [hidden]="error == ''"
           class="alert alert-danger">
          {{error}}
      </div>
      <span *ngIf="contadorLogin > 4">
        <re-captcha sitekey="6LetChQTAAAAACq4lmSL0L1-4rv47ZPrFKrkWOLf" (tokenChange)="getToken($event);"></re-captcha>
      </span>
      <br/>
      <div class="alinhar-direita">
        <input  type="submit" name="login" [ngClass]="{ 'disabled': loading }" class="login loginmodal-submit btn btn-default" value="Confirmar" id="login" />
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>
    </div>
  </form>



